@font-face {
font-family:OpenSansR;
src: url('../font/OpenSans-Regular.ttf');
}
@font-face {
font-family:OpenSansL;
src: url('../font/OpenSans-Light.ttf');
}
@font-face {
font-family:Roboto;
src: url('../font/Roboto-Light.ttf');
}
